* {
    box-sizing: border-box;
}

html,
body,
h1 {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

picture {
    display: inline-block;
}

p {
    margin: 0.7em 0 .1em 0;
}

main>* {
    max-width: 1400px;
    padding-bottom: var(--spacing-L);
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--spacing-L);
    padding-left: var(--spacing-L);
}

main>header {
    max-width: initial;
    padding-right: initial;
}

body {
    background-color: var(--oldbeige);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
a,
i,
span,
strong,
small,
label,
summary {
    color: var(--oldblue);
}

p,
a,
span,
strong,
small,
label,
button {
    font-family: var(--text);
}

a {
    text-decoration: none;
}

li {

    list-style-type: none;
}

h3,
.actualite .voir-tous {
    font-size: var(--L);
}

input::placeholder {
    color: var(--oldgold);
    text-align: end;
    padding-right: 5px;
}

input {
    border: 1px solid var(--oldblue);
    color: var(--oldblue);
}

.text-red {
    color: var(--oldred);
}

.bold600 {
    font-weight: 600;
}

.flexer {
    display: flex;
    flex-wrap: wrap;
}

.dr {
    text-align: right;
}

.g {
    display: grid;
    grid-gap: 3px;
}

.g.timbres {
    grid-template-columns: repeat(5, max-content);
    
}

.l {
    display: contents;
}

.l div{
    max-width:400px;
}

.l:nth-of-type(2n) .c {
    background-color: var(--palebeige);
}

.l:nth-of-type(2n+1) .c {
    background-color: var(--oldbeige);
}

.t {
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--oldgold);
}

.t img {
    width: 10px;
    margin: 0;
    cursor: pointer;
}

.t img:first-of-type {
    margin-left: 10px;
}

.t img:hover {
    transform: scale(1.3);
}

.t,
.c {
    box-sizing: border-box;
    padding: 5px 20px;
    line-height: 32px;
    border-radius: 3px;
}

.c a,
.c span {
    margin: 0 5px;
}

.c span {
    color: cornflowerblue;
    cursor: pointer;
}

.c span:hover {
    color: rgb(0, 73, 207);
}


/* grille d'encheres*/

.encheres {
    display: flex;
    position: relative;
}

.grid-encheres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: var(--spacing-XL) var(--spacing-M);

}

/*Généralités de sections*/


.enchere-vedettes>h1,
.actualite h1,
.achats h1,
.a-propos h1 {
    font-size: var(--XL);
    margin-bottom: var(--spacing-M);
}

.actualite>a,
.enchere-vedettes>a {
    display: block;
    font-size: var(--M);
    margin-top: var(--spacing-M);
    text-align: right;
}

.actualite>a:hover,
.enchere-vedettes>a:hover {
    color: var(--oldred);
    text-decoration: underline;
}


/* Section actualite independant des carte*/

.actualite>.carte-actualite:first-of-type {
    margin-bottom: var(--spacing-M);
}

/* Encheres vedettes */
.enchere-vedettes h1 {
    text-align: center;
}

.chaine-cartes {
    justify-content: center;
    gap: var(--spacing-XS);
}

.chaine-cartes .card {
    width: 300px;
}

.encheres-similaires {
    margin-top: var(--spacing-XL);
    padding-left: 0;
    padding-right: 0;
}

.encheres-similaires>h1 {
    font-size: var(--LL);
    text-align: center;
    margin-bottom: var(--spacing-M);
}

@media screen and (max-width: 925px) {


    .enchere-vedettes>h1,
    .actualite h1,
    .achats h1,
    .a-propos h1 {
        text-align: center;
        font-size: var(--LL);
        margin-bottom: var(--spacing-S);
    }

    main>header {
        padding: 0;
        max-width: 100%;
    }

    .actualite .voir-tous {
        font-size: var(--M);
    }

}