:root {
    /* couleurs */
    --oldblue: #122D3E;
    --oldbeige: #FAEBD6;
    --oldgold: #A3925F;
    --palebeige: #FFF7EB;
    --white: #f7f7f7;
    --oldred: #7D1015;
    --oldgrey: rgb(0, 0, 0, 0.5);
    --gradientnav: linear-gradient(180deg, rgba(250, 235, 214, 1) 10%, rgba(125, 16, 21, 1) 10%, rgba(125, 16, 21, 1) 32%, rgba(18, 45, 62, 1) 32%, rgba(18, 45, 62, 1) 45%, rgba(250, 235, 214, 1) 45%, rgba(250, 235, 214, 1) 60%, rgba(18, 45, 62, 1) 60%);
    --gradientfoot: linear-gradient(0deg, rgba(250, 235, 214, 1) 10%, rgba(125, 16, 21, 1) 10%, rgba(125, 16, 21, 1) 32%, rgba(18, 45, 62, 1) 32%, rgba(18, 45, 62, 1) 45%, rgba(250, 235, 214, 1) 45%, rgba(250, 235, 214, 1) 60%, rgba(18, 45, 62, 1) 60%);

    /* tailles caracteres */
    --XXL: 4rem;
    --XL: 3.5rem;
    --LL: 2rem;
    --L: 1.5rem;
    --M: 1.2rem;
    --S: 0.9rem;
    --XS: 0.7rem;

    /* police */
    --h-and-links: 'PT Serif', serif;
    --text: 'Cabin', sans-serif;

    /* espacement */
    --spacing-XXS: 5px;
    --spacing-XS: 10px;
    --spacing-S: 20px;
    --spacing-SM: 30px;
    --spacing-M: 40px;
    --spacing-L: 60px;
    --spacing-XL: 80px;
}