.profile, .modification{
    margin-top: var(--spacing-L);
}

.profile form label, .profile form input, .profile form select, .profile form textarea, .profile a{
    display: block;
    margin-top: var(--spacing-XS);
}

.profile form>div{
    display: flex;
}

.profile form>div div:not(.last-div){
   margin-right: var(--spacing-L);
}

.profile form .btn{
    margin-top: var(--spacing-M);
}

.profile a{
    margin-top: var(--spacing-XS);
}

.profile a:hover{
    text-decoration: underline;
}

.profile .certification{
    margin-top: var(--spacing-XS);
}

.profile .certification label{
    display: inline;
}
.profile .certification input{
    display: inline;
}

.profile .profile-itself{
    display: flex;
    margin-top: var(--spacing-S);
}

.profile .profile-itself>div:not(:last-of-type){
    border-right: solid 1px var(--oldblue);
    margin-right: var(--spacing-L);
    padding-right: var(--spacing-L);
}

.profile .modifier{
    display:block;
}

.profile .supprimer{
    display: block;
}

.modification form label, .profile form input, .profile form select, .profile form textarea, .profile a{
    display: block;
    margin-top: var(--spacing-XS);
}

.modification form .btn{
    display: block;
    margin-top: var(--spacing-S);
}

.mes-timbres {
    margin-top: var(--spacing-L);
}

.mes-timbres .card{
    max-width: 350px;
}

.mes-timbres .card .mise{
    gap:30px;
    line-height: 18px;
}

.mes-timbres .modifier:hover, .mes-timbres .supprimer:hover{
    color: var(--oldred);
    text-decoration: underline;
}

@media screen and (max-width: 925px) {
    .profile .profile-itself{
        flex-direction: column;
    }
    .profile .profile-itself>div:not(:last-of-type){
        border-right: none;
        margin-bottom: var(--spacing-S);
    }

    .profile form div{
      flex-direction: column;
        
    }
}   
