
<header class="banniere-titre">
	<div class="titre">
		<h1>LES TIMBRES DU LORD STAMPEE</h1>
		<p>Un site d'enchères pour gentlemen</p>
		<button class="btn-big">Accès aux enchères</button>
	</div>
	<picture>
		<img src="assets/images/timbres/oldstamps.jpg" alt="image de timbres vieux style">
	</picture>
</header>
<section class="enchere-vedettes">
	<h1>Enchères vedettes</h1>
	<div class="chaine-cartes flexer">
		<article class="card">
			<picture>
				<img src="assets/images/timbres/george1.jpg" alt="">
			</picture>
			<a href="fiche.html">
				<h1>VF+ MH 1912 Canadian KGV Stamp, Scott #111</h1>
			</a>
			<hr>
			<small class="temps">
				<span>Temps Restant:
				</span>
				<span>10j 12:00:58</span>
			</small>
			<div class="mise">
				<div class="depart-actuel">
					<small>Départ: 100$</small>
					<small>Actuel:
						<span class="text-red">204$</span>
					</small>
				</div>
				<input type="text" placeholder="$">
			</div>
			<button type="submit" class="btn">Miser</button>
		</article>
		<article class="card">
			<picture>
				<img src="assets/images/timbres/queen1.jpg" alt="">
			</picture>
			<a href="fiche.html">
				<h1>MNH 8 1/2c Nova Scotia, 1860 Canada -- Scott #11</h1>
			</a>
			<hr>
			<small class="temps">
				<span>Temps Restant:
				</span>
				<span>10j 12:00:58</span>
			</small>
			<div class="mise">
				<div class="depart-actuel">
					<small>Départ: 100$</small>
					<small>Actuel:
						<span class="text-red">204$</span>
					</small>
				</div>
				<input type="text" placeholder="$">
			</div>
			<button type="submit" class="btn">Miser</button>
		</article>
		<article class="card">
			<i class="favoris"><img title="Favoris du Lord" src="assets/images/icones/favorite.svg" alt=""></i>
			<picture>
				<img src="assets/images/timbres/james-hill.jpg" alt="">
			</picture>
			<a href="fiche.html">
				<h1>MH Canadian XF KGV Overprint Stamp, #139</h1>
			</a>
			<hr>
			<small class="temps">
				<span>Temps Restant:
				</span>
				<span>10j 12:00:58</span>
			</small>
			<div class="mise">
				<div class="depart-actuel">
					<small>Départ: 100$</small>
					<small>Actuel:
						<span class="text-red">204$</span>
					</small>
				</div>
				<input type="text" placeholder="$">
			</div>
			<button type="submit" class="btn">Miser</button>
		</article>
		<article class="card">
			<picture>
				<img src="assets/images/timbres/serie-timbre.jpg" alt="">
			</picture>
			<a href="fiche.html">
				<h1>TANGANYIKA 1922 SG83/88 Mint Giraffe</h1>
			</a>
			<hr>
			<small class="temps">
				<span>Temps Restant:
				</span>
				<span>10j 12:00:58</span>
			</small>
			<div class="mise">
				<div class="depart-actuel">
					<small>Départ: 100$</small>
					<small>Actuel:
						<span class="text-red">204$</span>
					</small>
				</div>
				<input type="text" placeholder="$">
			</div>
			<button type="submit" class="btn">Miser</button>
		</article>

	</div>
	<a href="#">Aller à la liste complète d'enchères »</a>
</section>
<section class="actualite">
	<h1>Actualité</h1>
	<article class="carte-actualite">
		<div class="texte-avant">
			<h2>Petit guide d'entretien de collection</h2>
			<span>23 octobre 2022</span>
			<p>La plupart des collectionneurs sérieux conservent leurs timbres dans un album sans acide
				                        disponible
				                        dans les points de vente locaux ou en ligne spécialisés dans les collections de timbres et
				                        autres...
			</p>
			<a href="#">Consultez l'article complet »</a>
		</div>
		<picture>
			<img src="assets/images/timbres/timbres-entretien.jpg" alt="timbre et pince">
		</picture>
	</article>
	<article class="carte-actualite">
		<picture>
			<img src="assets/images/timbres/raj.jpg" alt="timbre de l'époque du Raj">
		</picture>
		<div class="texte-apres">
			<h2>Nouvel arrivage de timbres de l'époque du Raj</h2>
			<span>10 octobre 2022</span>
			<p>Un contributeur du Lord vient de rendre disponible une collecion exceptionnelle ayant comme
				                        thématique la période du Raj britannique. Le Raj débuta en 1858 par...</p>
			<a href="#">Consultez l'article complet »</a>
		</div>
	</article>
	<a class="voir-tous" href="#">Voir tous les articles »</a>
</section>
<section class="souhait">
	<article class="boite-action">
		<h1>Vous souhaitez miser?</h1>
		<p>Connectez-vous à votre compte ou bien devenez membre</p>
		<div class="btns-box-souhait">
			<button class="btn-big">Se connecter</button>
			<button class="btn-big">Devenir membre</button>
		</div>
	</article>
</section>
<section class="achats">
	<h1>Vous vendez, nous achetons</h1>
	<article class="fiche-big-text">
		<picture>
			<img src="assets/images/timbres/_127314472_stamps_getty.jpg" alt="timbres de la reine Elizabeth 2">
		</picture>
		<div>
			<p>Vous pensez vendre votre collection? Nous vous assistons à l'aide de nos évaluateurs à mettre en
				                        enchères vos timbres.</p>
			<a href="#">Contactez-nous »</a>
		</div>
	</article>
</section>
<section class="abonnez-vous">
	<article class="boite-action">
		<h1>Abonnez-vous à notre infolettre</h1>
		<p>Restez à l’affut des enchères les plus récente et de l’arrivé de timbres rares et d’exceptions</p>
		<form action="post" class="btns-box-abonnement">
			<input type="email" placeholder="Entrez votre courriel">
			<button class="btn-big">S'abonner</button>
		</form>
	</article>
</section>

<section class="a-propos">
	<h1>À propos du Lord</h1>
	<article class="lord-stampee flexer-sp">
		<div class="the-lord">
			<picture>
				<img src="assets/images/lord-stampee/lord.jpg" alt="image ravissante du Lord Stampee">
			</picture>
			<p>" Pour le vrai Philatéliste, il n'y a que 3 évènements qui comptent : chercher, avoir et
				                        classer. "</p>
			<i>- Lord Stampee</i>
		</div>
		<div class="the-text">
			<p>Lord Reginald Stampee III né le 6 août 1950 à Londres est un des plus célèbres philatélistes
				                        anglais.
			</p>
			<p>
				Ses collections de timbres ont été les plus complètes connues pour l'époque classique (timbres
				                        émis avant 1900), avec une passion pour les émissions d'avant 1870. Elles ont notamment concerné
				                        les provinces canadiennes et la Confédération du Canada, la Suisse, la colonie du Cap, Ceylan,
				                        le Gambie, Maurice, l'Argentine et l'Uruguay. Pour l'histoire postale des États-Unis, sa
				                        collection est une référence pour les affranchissements dans l'Ouest du pays.
			</p>
			<p>
				Membre actif du Collectors Club of New York, Theodore Steinway et lui ont permis le
				                        développement de cette association. Juge international pendant trois décennies, il est le
				                        commissaire des expositions philatéliques internationales de 1980. En mars 1985 à New York,
				                        Theodore Steinway, plusieurs philatélistes et lui fondent la Philatelic Foundation, institution
				                        éducative à but non lucratif qui se donne pour but des travaux d'expertise, de recherches et de
				                        publications philatéliques. Ses collections et celles de sa fille ont été dispersés par la
				                        maison aux enchères Harmer's entre 1968 et 1971, 1989 et 1992 et en 1997.
			</p>
			<p>
				Les timbres sont sa passion et Lord Stampee veut offrir au reste du monde cette passion via sa
				                        plateforme.
			</p>
		</div>
	</article>
</section>
